// #region PC

%pc-control-default {
  display: inline;
}

%pc-action-default {
  display: inline-block;
  font-size: 14px;
  margin-left: 4px;
  white-space: nowrap;
  width: 0;
  span + & {
    margin-left: 0;
  }
}

// All
.ub-pc-all {
  &-control {
    @extend %pc-control-default;
  }

  &-general-action {
    @extend %pc-action-default;
  }

  &-general-action-fallback {
    display: block;
    font-size: 14px;
  }

  &-latest-action {
    display: block;
    font-size: 14px;
    margin: -10px 0 10px;
    padding: 0 16px;
  }

  &-recipe-action {
    display: block;
    font-size: 12px;
  }

  &-top-story-action-vertical {
    display: inline;
    font-size: 14px;
  }

  &-twitter-action {
    flex: 25 0 auto;
    font-size: 14px;
    line-height: 18.2px;
    padding-top: 1px;
  }

  &-twitter-search-action {
    display: inline;
    font-size: 14px;
    margin-left: 4px;
    padding-top: 1px;
  }

  &-twitter-search-action-previous {
    flex: 25 0 auto;
    font-size: 14px;
    line-height: 20px;
    padding-top: 1px;
  }

  &-video-action {
    display: block;
    font-size: 12px;
    margin: -10px 0 10px;
    padding: 0 16px;
  }
}

// Books
.ub-pc-books {
  &-control {
    @extend %pc-control-default;
  }

  &-general-action {
    @extend %pc-action-default;
  }
}

// Images
.ub-pc-images {
  &-control {
    color: #70757a;
    margin: 0 0 8px 165px;
  }

  &-control-previous {
    display: block;
    font-size: 12px;
    margin-left: 16px;
  }

  &-general-action {
    display: block;
    font-size: 12px;
    padding: 0 4px;
    white-space: nowrap;
  }
}

// News
.ub-pc-news {
  &-control {
    @extend %pc-control-default;
  }

  &-general-action {
    display: inline;
    font-size: 12px;
    margin-left: 4px;
  }

  &-general-action-japanese {
    display: inline;
    font-size: 13px;
    margin-left: 4px;
  }

  &-image-action-japanese {
    display: block;
    font-size: 10px;
    text-align: center;
    white-space: nowrap;
    width: 90px;
  }
}

// Videos
.ub-pc-videos {
  &-control {
    @extend %pc-control-default;
  }

  &-general-action {
    @extend %pc-action-default;
  }
}

// #endregion PC

// #region Mobile

%mobile-control-base {
  .ub-stats {
    color: rgba(0, 0, 0, 0.54);
  }
  .ub-show-button,
  .ub-hide-button {
    color: #1967d2;
  }
}

%mobile-control-default {
  @extend %mobile-control-base;
  border-radius: 8px;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  margin-bottom: 10px;
  padding: 11px 16px;
}

%mobile-action-base {
  .ub-block-button,
  .ub-unblock-button {
    color: #1967d2;
  }
}

%mobile-action-default {
  @extend %mobile-action-base;
  padding: 0 16px 12px;
}

// All
.ub-mobile-all {
  &-control {
    @extend %mobile-control-default;
  }

  &-general-action {
    @extend %mobile-action-default;
  }

  &-latest-action {
    @extend %mobile-action-base;
    padding: 12px 16px;
    white-space: nowrap;
    width: 0;
  }

  &-top-story-action {
    @extend %mobile-action-base;
    padding: 0 16px 12px;
    white-space: nowrap;
    width: 0;
  }

  &-twitter-action {
    @extend %mobile-action-default;
  }
}

// Books
.ub-mobile-books {
  &-control {
    @extend %mobile-control-default;
  }

  &-general-action {
    @extend %mobile-action-default;
  }
}

// Images
.ub-mobile-images {
  &-control {
    @extend %mobile-control-base;
    border-radius: 8px;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.18);
    margin: 0 8px 10px;
    padding: 11px 16px;
  }

  &-general-action {
    @extend %mobile-action-base;
    font-size: 11px;
    line-height: 14px;
    padding: 0 4px 8px;
  }
}

// News
.ub-mobile-news {
  &-control {
    @extend %mobile-control-default;
  }

  &-general-action {
    @extend %mobile-action-default;
  }
}

// Videos
.ub-mobile-videos {
  &-control {
    @extend %mobile-control-default;
  }

  &-general-action {
    @extend %mobile-action-default;
  }
}

// #endregion Mobile
