.ub-button {
  color: #1a0dab;
}

// #region PC

%pc-control-default {
  display: inline;
}

%pc-action-inline {
  display: inline-block;
  width: 0;
}

%pc-action-default {
  @extend %pc-action-inline;
  font-size: 14px;
  margin-left: 4px;
  span + & {
    margin-left: 0;
  }
  .fl + & {
    margin-left: 6px;
  }
}

// All
.ub-pc-all {
  &-control {
    @extend %pc-control-default;
  }

  &-general-action {
    @extend %pc-action-default;
  }

  &-general-action-fallback {
    font-size: 14px;
    margin-top: 4px;
  }

  &-latest-action {
    font-size: 14px;
    margin: -10px 0 10px;
    padding: 0 16px;
  }

  &-paa-action {
    @extend %pc-action-default;
    position: relative;
    top: -3px;
  }

  &-quote-action {
    font-size: 14px;
  }

  &-recipe-action {
    font-size: 12px;
  }

  &-top-story-action-horizontal {
    font-size: 12px;
    margin: -10px 0 10px;
    padding: 0 16px;
    position: relative;
    z-index: 1;
  }

  &-top-story-action-vertical {
    @extend %pc-action-inline;
    font-size: 14px;
  }

  &-twitter-action {
    flex: 40 0 auto;
    font-size: 14px;
    line-height: 1.3;
    padding-top: 1px;
  }

  &-twitter-search-action {
    @extend %pc-action-inline;
    font-size: 14px;
    margin-left: 6px;
    padding-top: 1px;
  }

  &-twitter-search-action-favicon {
    flex: 40 0 auto;
    font-size: 14px;
    line-height: 20px;
    padding-top: 1px;
  }

  &-video-action {
    font-size: 14px;
    margin: -10px 0 10px;
    padding: 0 16px;
  }

  &-news-action-covid-19 {
    @extend %pc-action-inline;
    font-size: 12px;
    margin-left: 6px;
  }

  &-pasf-action-covid-19 {
    font-size: 12px;
    margin: -12px 0 12px;
    padding: 0 16px;
  }
}

// Books
.ub-pc-books {
  &-control {
    @extend %pc-control-default;
  }

  &-general-action {
    @extend %pc-action-default;
  }
}

// Images
.ub-pc-images {
  &-control {
    color: #70757a;
    padding: 0 0 6px 165px;
  }

  &-control-sensitive {
    color: #70757a;
    padding: 0 0 11px 165px;
  }

  &-general-action {
    font-size: 11px;
    line-height: 16px;
    padding: 0 4px;
  }
}

// News
.ub-pc-news {
  &-control {
    @extend %pc-control-default;
  }

  &-general-action {
    @extend %pc-action-inline;
    font-size: 12px;
    margin-left: 6px;
  }

  &-pasf-action {
    font-size: 12px;
    margin: -12px 0 12px;
    padding: 0 16px;
  }

  &-general-action-japanese {
    @extend %pc-action-inline;
    font-size: 13px;
    margin-left: 6px;
  }

  &-image-action-japanese {
    font-size: 10px;
    text-align: center;
    width: 90px;
  }
}

// Videos
.ub-pc-videos {
  &-control {
    @extend %pc-control-default;
  }

  &-general-action {
    @extend %pc-action-inline;
    font-size: 16px;
    margin-left: 6px;
    span + & {
      margin-left: 0;
    }
  }
}

// #endregion PC

// #region Mobile

%mobile-control-colored {
  color: rgba(0, 0, 0, 0.54);
  .ub-button {
    color: #1967d2;
  }
}

%mobile-control-default {
  @extend %mobile-control-colored;
  border-radius: 8px;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  margin-bottom: 10px;
  padding: 11px 16px;
}

%mobile-action-colored {
  .ub-button {
    color: #1967d2;
  }
}

%mobile-action-default {
  @extend %mobile-action-colored;
  padding: 0 16px 12px;
}

// All
.ub-mobile-all {
  &-control {
    @extend %mobile-control-default;
  }

  &-general-action {
    @extend %mobile-action-default;
  }

  &-latest-action {
    @extend %mobile-action-colored;
    padding: 12px 16px;
  }

  &-top-story-action {
    @extend %mobile-action-colored;
    padding: 0 16px 12px;
  }

  &-top-story-action-vertical {
    @extend %mobile-action-colored;
    padding-top: 12px;
  }

  &-twitter-action {
    @extend %mobile-action-default;
  }
}

// Books
.ub-mobile-books {
  &-control {
    @extend %mobile-control-default;
  }

  &-general-action {
    @extend %mobile-action-default;
  }
}

// Images
.ub-mobile-images {
  &-control {
    @extend %mobile-control-colored;
    border-radius: 8px;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.18);
    margin: 0 8px 10px;
    padding: 11px 16px;
  }

  &-general-action {
    @extend %mobile-action-colored;
    font-size: 11px;
    line-height: 20px;
    margin: -4px 0 4px;
    padding: 0 4px;
  }
}

// News
.ub-mobile-news {
  &-control {
    @extend %mobile-control-default;
  }

  &-general-action {
    @extend %mobile-action-default;
  }
}

// Videos
.ub-mobile-videos {
  &-control {
    @extend %mobile-control-default;
  }

  &-general-action {
    @extend %mobile-action-default;
  }
}

// #endregion Mobile
