// /All

.ub-control-all {
  display: inline;
}

.ub-action-all {
  display: inline;
  font-size: 16px;
  margin-left: 4px;
}

.ub-action-all-latest {
  display: block;
  font-size: 14px;
  margin: -10px 0 10px 0;
  padding: 0 16px;
}

.ub-action-all-recipes {
  display: block;
  font-size: 12px;
  margin: -5px 0 5px 0;
}

.ub-action-all-top-stories-horizontal {
  display: block;
  font-size: 14px;
  margin: -10px 0 10px 0;
  padding: 0 16px;
}

.ub-action-all-top-stories-vertical {
  display: inline;
  font-size: 14px;
  margin-left: 4px;
}

.ub-action-all-twitter {
  display: inline;
  flex: 25 0 auto;
  font-size: 16px;
  line-height: 24px;
  padding-top: 1px;
}

.ub-action-all-twitter-search {
  display: inline;
  flex: 25 0 auto;
  font-size: 16px;
  line-height: 20px;
  padding-top: 1px;
}

.ub-action-all-videos {
  display: block;
  font-size: 12px;
  margin: -10px 0 10px 0;
  padding: 0 16px;
}

// /Books

.ub-control-books {
  display: inline;
}

.ub-action-books {
  display: inline;
  font-size: 14px;
  margin-left: 4px;
}

// /Images

.ub-control-images {
  font-size: 12px;
  margin-left: 16px;
}

.ub-control-images-1 {
  color: rgba(0, 0, 0, 0.54);
  display: inline-block;
  font-size: 13px;
  margin-left: -13px;
  margin-right: 29px;
  padding-top: 20px;
}

.ub-action-images {
  display: block;
  font-size: 12px;
  padding: 0 4px;
}

// /News

.ub-control-news {
  display: inline;
}

.ub-action-news {
  display: inline;
  font-size: 12px;
  margin-left: 8px;
}

.ub-action-news-1 {
  display: inline;
  font-size: 13px;
  margin-left: 4px;
}

.ub-action-news-image {
  display: block;
  font-size: 10px;
}

// /Videos

.ub-control-videos {
  display: inline;
}

.ub-action-videos {
  display: inline;
  font-size: 14px;
  margin-left: 4px;
}

// Mobile/All, Mobile/News, Mobile/Videos, Tablet/All, Tablet/News, Tablet/Videos
.ub-action-mobile-all {
  font-size: 12px;
  margin-left: 12px;
}
