// All

.ub-control_all {
  &_v1 {
    display: inline;
  }
}

.ub-action_all {
  &_default_v2 {
    display: block;
    font-size: 14px;
  }

  &_default_v1 {
    display: inline-block;
    font-size: 14px;
    margin-left: 4px;
    white-space: nowrap;
    width: 0;
    span + & {
      margin-left: 0;
    }
  }

  &_latest_v1 {
    display: block;
    font-size: 14px;
    margin: -10px 0 10px 0;
    padding: 0 16px;
  }

  &_recipes_v1 {
    display: block;
    font-size: 12px;
  }

  &_top-stories-vertical_v1 {
    display: inline;
    font-size: 14px;
  }

  &_twitter_v1 {
    flex: 25 0 auto;
    font-size: 14px;
    line-height: 1.3;
    padding-top: 1px;
  }

  &_twitter-search_v2 {
    display: inline;
    font-size: 14px;
    margin-left: 4px;
  }

  &_twitter-search_v1 {
    flex: 25 0 auto;
    font-size: 14px;
    line-height: 20px;
    padding-top: 1px;
  }

  &_video_v1 {
    display: block;
    font-size: 12px;
    margin: -10px 0 10px 0;
    padding: 0 16px;
  }
}

// Books

.ub-control_books {
  &_v1 {
    display: inline;
  }
}

.ub-action_books {
  &_default_v1 {
    display: inline-block;
    font-size: 14px;
    margin-left: 4px;
    white-space: nowrap;
    width: 0;
  }
}

// Images

.ub-control_images {
  &_v2 {
    color: rgba(0, 0, 0, 0.54);
    display: inline-block;
    font-size: 13px;
    margin-left: -13px;
    margin-right: 29px;
    padding-top: 20px;
  }

  &_v1 {
    display: block;
    font-size: 12px;
    margin-left: 16px;
  }
}

.ub-action_images {
  &_default_v1 {
    display: block;
    font-size: 12px;
    padding: 0 4px;
    white-space: nowrap;
    width: 0;
  }
}

// News

.ub-control_news {
  &_v1 {
    display: inline;
  }
}

.ub-action_news {
  &_default_v2 {
    display: inline;
    font-size: 12px;
    margin-left: 4px;
  }

  &_default_v1 {
    display: inline;
    font-size: 13px;
    margin-left: 4px;
  }

  &_image_v1 {
    display: block;
    font-size: 10px;
    white-space: nowrap;
    width: 0;
  }
}

// Videos

.ub-control_videos {
  &_v1 {
    display: inline;
  }
}

.ub-action_videos {
  &_default_v1 {
    display: inline;
    font-size: 14px;
    margin-left: 4px;
    span + & {
      margin-left: 0;
    }
  }
}

// Mobile All

.ub-control_mobile-all {
  &_v1 {
    display: block;
    font-size: 12px;
    padding: 11px 16px;
    .ub-stats {
      color: rgba(0, 0, 0, 0.54);
    }
    .ub-show-button, .ub-hide-button {
      color: #1967d2;
    }
  }
}

.ub-action_mobile-all {
  &_default_v1 {
    display: block;
    font-size: 14px;
    padding: 0 16px 12px;
    .ub-block-button, .ub-unblock-button {
      color: #1967d2;
    }
  }
}

// Mobile Books

.ub-control_mobile-books {
  &_v1 {
    @extend .ub-control_mobile-all_v1;
  }
}

.ub-action_mobile-books {
  &_default_v1 {
    @extend .ub-action_mobile-all_default_v1;
  }
}

// Mobile News

.ub-control_mobile-news {
  &_v1 {
    @extend .ub-control_mobile-all_v1;
  }
}

.ub-action_mobile-news {
  &_default_v1 {
    @extend .ub-action_mobile-all_default_v1;
  }
}

// Mobile Videos

.ub-control_mobile-videos {
  &_v1 {
    @extend .ub-control_mobile-all_v1;
  }
}

.ub-action_mobile-videos {
  &_default_v1 {
    @extend .ub-action_mobile-all_default_v1;
  }
}
