.ub-control-web {
  color: #7f869f;
  display: block;
  font-size: 14px;
  margin-left: 14px;
}

.ub-action-web {
  font-size: 13px;
}

.ub-control-images {
  color: #7f869f;
  display: block;
  font-size: 14px;
}

.ub-action-images {
  display: block;
  font-size: 12px;
  height: 18px;
}

.ig-gl .details {
  bottom: 18px !important;
}
