body, button, textarea {
  font: message-box;
  font-size: 15px;
}

div:not(:first-child), hr {
  margin-top: 9px;
}

hr {
  border: none;
  border-top: solid 1px #bfbfbf;
}

summary {
  cursor: pointer;
  outline: none;
}

textarea {
  display: block;
  resize: none;
}

.container {
  border: solid 1px #bfbfbf;
  padding: 8px;
}

#blacklistTextArea {
  height: 240px;
  width: 100%;
}

#importTextArea {
  height: 100px;
  width: 100%;
}
