div:not(:first-child) {
  margin-top: 8px;
}

summary {
  cursor: pointer;
  outline: none;
}

textarea {
  display: block;
  resize: none;
}

.container {
  border: solid 1px #bfbfbf;
  padding: 8px;
}

#blacklistTextArea {
  height: 200px;
  width: 480px;
}

#importTextArea {
  height: 100px;
  width: 100%;
}
