body {
  font-size: 13px;
}

div:not(:first-child), hr {
  margin-top: 8px;
}

hr {
  border: none;
  border-top: solid 1px #bfbfbf;
}

summary {
  cursor: pointer;
  outline: none;
}

textarea {
  display: block;
  resize: none;
}

.container {
  border: solid 1px #bfbfbf;
  padding: 8px;
}

.description {
  color: #5f5f5f;
}

#blacklistTextArea {
  height: 240px;
  width: 480px;
}

#importTextArea {
  height: 100px;
  width: 100%;
}
