$primary: #1a73e8;
$label-weight: normal;
$title-size: 1.25rem;
$title-weight: normal;

@import '~bulma/sass/utilities/_all.sass';
@import '~bulma/sass/base/_all.sass';
@import '~bulma/sass/helpers/_all.sass';
@import '~bulma/sass/form/shared.sass';
@import '~bulma/sass/form/input-textarea.sass';
@import '~bulma/sass/form/tools.sass';
@import '~bulma/sass/elements/button.sass';
@import '~bulma/sass/elements/title.sass';

:host {
  max-width: 100%;
  width: 25rem;
}

.block-form {
  color: $body-color;
  font-family: $body-family;
  font-size: 1rem;
  padding: 1rem;
}

.block-form__title {
  background: url('../images/icon-128.png') left/2rem no-repeat;
  line-height: 2rem;
  padding-left: 2.5rem;
  &:not(:last-child) {
    margin-bottom: 0.75rem;
  }
}

.block-form__url-host {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  word-break: break-all;
}

.block-form__details {
  margin-bottom: 0.75rem;
}

.block-form__details-title {
  cursor: pointer;
  margin-bottom: 0.75rem;
  &:focus:not(:focus-visible) {
    outline: none;
  }
}

.block-form__block-button[disabled] {
  cursor: default;
}

.textarea {
  word-break: break-all;
}
