$modal-z: 100000;

@import './shared.scss';

.ub-dialog.modal-content {
  color: $body-color;
  max-width: 25rem;
  width: 100%;
}

.ub-host {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  word-break: break-all;
}

.ub-icon {
  background: url('../images/icon-128.png') center/contain no-repeat;
  height: 2rem;
  width: 2rem;
}

.ub-main {
  color: $body-color;
  font-family: $body-family;
  font-size: 1rem;
  padding: 1rem;
}

.ub-summary {
  cursor: pointer;
  margin-bottom: 0.75rem;
  &:focus:not(:focus-visible) {
    outline: none;
  }
}
