// #if BROWSER === 'firefox'
@import '~dialog-polyfill/dialog-polyfill.css';
// #endif

.ub-is-hidden {
  display: none !important;
}

.ub-show-button {
  display: none;
}

.ub-unblock-button {
  display: none;
}

.ub-show-button,
.ub-hide-button,
.ub-block-button,
.ub-unblock-button {
  color: #1a0dab;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.ub-is-blocked {
  &,
  * {
    background-color: #ffe0e0;
  }
  .ub-block-button {
    display: none;
  }
  .ub-unblock-button {
    display: inline;
  }
}

.ub-block-dialog {
  border: solid 1px lightgrey;
  box-sizing: content-box;
  padding: 0;
}
