$body-size: 13px;

@import './shared.scss';
@import '~bulma-checkradio/dist/css/bulma-checkradio.sass';
@import '~bulma-switch/dist/css/bulma-switch.sass';

.is-checkradio[type='checkbox'].is-small + label.ub-checkradio,
.is-checkradio[type='radio'].is-small + label.ub-checkradio {
  padding-left: 0.5rem;
}

.ub-dialog.modal-content {
  max-width: 480px;
  padding: 1.25rem;
  width: 100%;
}

.ub-dropdown-item.dropdown-item {
  font-size: 1rem;
}

.ub-list {
  padding-left: 1rem;
}

.ub-list-item {
  padding: 0.5rem 0;
  &:not(:last-child) {
    border-bottom: 1px solid #dbdbdb;
  }
}

.ub-main {
  margin: 0 auto;
  max-width: 640px;
  width: 100%;
}

.ub-section-item.panel-block {
  display: block;
  padding: 0.5rem 1rem;
}

.ub-switch {
  height: 2.25rem;
  padding-top: 0.525rem;
}

.table .ub-table-header {
  font-weight: normal;
  vertical-align: middle;
}

.table .ub-table-data {
  vertical-align: middle;
}

// Sync
.ub-notify-sync-updated-icon {
  background: url('~@mdi/svg/svg/alert.svg?fill=%25237a7a7a') center no-repeat;
  height: 2.25rem;
  width: 2.25rem;
}

// Subscription
.ub-subscription-name {
  width: 20%;
  word-break: break-word;
}

.ub-subscription-url {
  width: calc(60% - 3.25rem);
  word-break: break-all;
}

.ub-subscription-update-result {
  width: 20%;
  word-break: break-word;
}

.ub-subscription-menu {
  width: 3.25rem;
}

.ub-subscription-menu-button.button {
  // '#' shall be encoded twice. '#' => '%23' => '%2523'
  // See https://github.com/webpack-contrib/css-loader/issues/1048
  background: url('~@mdi/svg/svg/dots-vertical.svg?fill=%25237a7a7a') center no-repeat;
  width: 2.25rem;
}
