$block-spacing: 1rem;
$tablet: 600px;
$primary: #1a73e8;
// #if CHROMIUM
$body-size: 13px;
$body-min-width: 640px;
// #else
$body-size: 15px;
// #endif
$section-padding: 1.5rem;
$label-weight: normal;
$help-size: 1rem;
$title-size: 1.25rem;
$title-weight: normal;
$dropdown-menu-min-width: 0;
$switch-focus: none;

@import '~bulma/sass/utilities/_all.sass';
@import '~bulma/sass/base/_all.sass';
@import '~bulma/sass/grid/columns.sass';
@import '~bulma/sass/layout/section.sass';
@import '~bulma/sass/form/shared.sass';
@import '~bulma/sass/form/input-textarea.sass';
@import '~bulma/sass/form/tools.sass';
@import '~bulma/sass/elements/box.sass';
@import '~bulma/sass/elements/button.sass';
@import '~bulma/sass/elements/table.sass';
@import '~bulma/sass/elements/title.sass';
@import '~bulma/sass/components/dropdown.sass';
@import '~bulma/sass/components/list.sass';
@import '~bulma/sass/components/modal.sass';
@import '~bulma-switch/dist/css/bulma-switch.sass';

.button[disabled] {
  cursor: default;
}

.table {
  th {
    font-weight: normal;
  }
  th,
  td {
    vertical-align: middle;
  }
}

.dropdown-item {
  font-size: 1rem;
}

.list.is-inner {
  box-shadow: none;
  .list-item {
    padding-right: 0;
  }
}

.modal-content {
  width: 80%;
}

.switch-wrapper {
  height: 2.25rem;
  padding-top: 0.525rem;
}

.subscription-name {
  width: 20%;
  word-break: break-word;
}

.subscription-url {
  width: calc(60% - 3.25rem);
  word-break: break-all;
}

.subscription-update-result {
  width: 20%;
  word-break: break-word;
}

.subscription-menu {
  width: 3.25rem;
}

.subscription-menu-button {
  background: url('~@mdi/svg/svg/dots-vertical.svg?fill=%237a7a7a') center no-repeat;
  width: 2.25rem;
}
