$block-spacing: 1rem;
$dropdown-menu-min-width: 0;
$help-size: 1rem;
$label-weight: normal;
$link: rgb(51, 103, 214);
$link-hover: $link;
$modal-background-background-color: rgba(0, 0, 0, 0.6);
$panel-item-border: 1px solid #dbdbdb;
$panel-shadow: 0 2px 3px rgba(hsl(0, 0, 4), 0.1), 0 0 0 1px rgba(hsl(0, 0, 4), 0.1);
$primary: rgb(26, 115, 232);
$section-padding: 1.5rem;
$table-head-cell-border-width: 0 0 1px;
$title-size: 1.25rem;
$title-weight: normal;

@import '~bulma/sass/utilities/_all.sass';
@import '~bulma/sass/base/_all.sass';
@import '~bulma/sass/helpers/_all.sass';
@import '~bulma/sass/layout/section.sass';
@import '~bulma/sass/form/shared.sass';
@import '~bulma/sass/form/checkbox-radio.sass';
@import '~bulma/sass/form/file.sass';
@import '~bulma/sass/form/input-textarea.sass';
@import '~bulma/sass/form/select.sass';
@import '~bulma/sass/form/tools.sass';
@import '~bulma/sass/elements/button.sass';
@import '~bulma/sass/elements/table.sass';
@import '~bulma/sass/elements/title.sass';
@import '~bulma/sass/components/dropdown.sass';
@import '~bulma/sass/components/modal.sass';
@import '~bulma/sass/components/panel.sass';

.ub-button.button {
  &[disabled] {
    cursor: default;
  }
}

.ub-dialog.modal-content {
  background-color: $white;
  border-radius: 8px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.24);
}

.ub-link-button {
  color: $link;
  cursor: pointer;
  white-space: nowrap;
  &:focus:not(:focus-visible) {
    outline: none;
  }
}

.ub-row.field.is-grouped {
  align-items: center;
}

.ub-textarea.textarea {
  word-break: break-all;
  &[disabled] {
    cursor: default;
  }
}
