.ub-link-button.msg__all {
  display: inline;
}

.ub-control.msg {
  display: block;
  padding: 0.5em 10px;
}

.ub-web {
  &-general-action {
    display: block;
    margin-top: 2px;
  }
}

// https://github.com/iorate/uBlacklist/issues/64
.ub-is-blocked + .results__sitelink--organics {
  background-color: rgba(255, 192, 192, 0.5);
}

html[data-ub-hide-entry] .ub-is-blocked + .results__sitelink--organics {
  display: none;
}
