.ub-link-button {
  display: inline;
  font-size: 13px;
  color: #00644d;
}

.ub-web {
  &-control {
    display: block;
    font-size: 13px;
    text-align: right;
    padding-right: 1em;
  }

  &-general-action {
    display: block;
  }
}
