.ub-control {
  color: #7f869f;
}

.ub-button {
  color: #6573ff;
}

%control-default {
  font-size: 14px;
  margin: 8px 16px 0;
  @media (min-width: 990px) {
    margin: 8px 0 0;
  }
}

%action-default {
  font-size: 14px;
  margin-top: 4px;
}

// Web
.ub-web {
  &-control {
    @extend %control-default;
  }

  &-action {
    @extend %action-default;
  }
}

// Images
.ub-images {
  &-control {
    font-size: 14px;
    margin: 8px 13px 0;
    @media (min-width: 990px) {
      margin: 8px 0 0;
    }
  }

  &-action {
    font-size: 12px;
    height: 18px;
    margin: 8px 0;
  }
}

// News
.ub-news {
  &-control {
    @extend %control-default;
  }

  &-action {
    @extend %action-default;
  }
}

// Videos
.ub-videos {
  &-control {
    @extend %control-default;
  }

  &-action {
    font-size: 14px;
    margin-top: 0;
  }
}
