#blockPopup, #unblockPopup {
  display: none;
  font-size: 13px;
  margin: 0;
}

#blockForm, #unblockForm {
  padding: 20px 12px;
  white-space: nowrap;
}

#blockInput, #unblockSelect {
  margin: 0 6px;
  width: 280px;
}
