// #if BROWSER === 'firefox'
@import '~dialog-polyfill/dialog-polyfill.css';
// #endif

#ubBlacklistUpdateDialog {
  border: solid 1px lightgrey;
  padding: 0;
  width: 360px;
}

#ubImageSearchControl {
  font-size: 12px;
  margin-left: 16px;
}

#ubStartpageControl {
  color: #7f869f;
  font-size: 14px;
  margin-left: 14px;
}

#ubStartpageImageSearchControl {
  color: #7f869f;
  font-size: 14px;
}

#ubShowButton,
#ubHideButton {
  color: #1a0dab;
  cursor: pointer;
}

.ubDefaultAction {
  font-size: 16px;
  margin-left: 4px;
}

.ubMobileAction {
  font-size: 12px;
  margin-left: 12px;
}

.ubNewsAction {
  display: block;
  font-size: 14px;
  margin: -10px 0 10px 0;
  padding: 0 16px;
}

.ubTwitterAction {
  flex: 25 0 auto;
  font-size: 16px;
  line-height: 24px;
  padding-top: 1px;
}

.ubVideoAction {
  display: block;
  font-size: 13px;
  margin: -10px 0 10px 0;
  padding: 0 16px;
}

.ubImageSearchAction {
  display: block;
  font-size: 12px;
  padding: 0 4px;
}

.ubNewsSearchAction {
  font-size: 13px;
  margin-left: 4px;
}

.ubStartpageDefaultAction {
  font-size: 13px;
}

.ubStartpageImageSearchAction {
  display: block;
  font-size: 12px;
  height: 18px;
}

.ig-gl .details {
  bottom: 18px !important;
}

.ubBlockButton,
.ubUnblockButton {
  color: #1a0dab;
  cursor: pointer;
}

.ubBlockButton:hover,
.ubUnblockButton:hover {
  text-decoration: underline;
}

#ubBlockDialog,
#ubUnblockDialog {
  padding: 0;
}

#ubBlockForm,
#ubUnblockForm {
  padding: 20px 12px;
  white-space: nowrap;
}

#ubBlockInput,
#ubUnblockSelect {
  margin: 0 6px;
  width: 280px;
}
