name: Deploy to GitHub Pages

on:
  push:
    branches:
      - master
    paths:
      - website/**
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy to GitHub Pages

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: '16'
          cache: yarn

      - name: Build website
        working-directory: website
        run: |
          yarn install --immutable
          yarn lint
          yarn build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./website/build
